@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*GERAL*/
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefcf6;
}

/*HEADER*/
header {
    width: 100%;
    padding: 28px 8%;
}

/*NAVBAR*/
#navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: rgb(238, 145, 160);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid rgb(248, 191, 201);
}

/*HOME*/
#home {
    padding: 40px 8%;
}

/*GRID*/
#cta {

    display: grid;

    /*colunas*/
    grid-template-columns: repeat(2, 1fr);

    /*linhas*/
    grid-template-rows: auto;

    /*áreas*/
    grid-template-areas:
        "texto imagem";

    gap: 40px;

    align-items: center;
}

.text {
    grid-area: texto;
}

.img {
    grid-area: imagem;

    display: flex;
    justify-content: center;
}

/*TÍTULO*/
#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
    margin-bottom: 20px;
}

#cta .title span {
    color: #e65373;
}

/*DESCRIÇÃO*/
#cta .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/*IMAGEM*/
#cta img {
    width: 320px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

/*PÁGINA SOBRE*/
.layout {

    display: grid;

    /*colunas*/
    grid-template-columns: 250px 1fr;

    /*linhas*/
    grid-template-rows: auto;

    /*áreas*/
    grid-template-areas:
        "sidebar content";

    gap: 30px;

    padding: 40px 8%;
}

/*MENU LATERAL*/
.sidebar {

    grid-area: sidebar;

    background-color: white;

    padding: 20px;

    border-radius: 15px;

    height: fit-content;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.sidebar h2 {
    color: #e65373;
    margin-bottom: 20px;
}

.sidebar ul {

    list-style: none;

    display: grid;

    /*repeat*/
    grid-template-rows: repeat(3, auto);

    gap: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 500;
}

.sidebar a:hover {
    color: #e65373;
}

/*CONTEÚDO*/
#sobre {

    grid-area: content;

    display: grid;

    grid-template-columns: 1fr;

    gap: 30px;
}

/*INTRO*/
.intro {
    background-color: white;
    padding: 30px;
    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.intro h1 {
    font-size: 2.5rem;
    color: #e498a9;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/*TABELAS*/
.table {

    display: grid;

    grid-template-columns: repeat(1, 1fr);

    gap: 15px;

    background-color: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.table h2 {
    color: #1d1d1d;
}

/*TABELA*/
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e498a9;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

/*FOOTER*/
footer {

    background-color: #e498a9;
    color: #fefcf6;

    text-align: center;

    padding: 15px;

    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    border-radius: 15px 15px 0 0;
}

/*REDES SOCIAIS*/
.social-media-buttons {
    display: flex;
    gap: 15px;
}

.social-media-buttons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 768px) {

    #cta {
        grid-template-columns: 1fr;

        grid-template-areas:
            "texto"
            "imagem";
    }

    .layout {

        grid-template-columns: 1fr;

        grid-template-areas:
            "sidebar"
            "content";
    }

    #cta .title {
        font-size: 2.5rem;
    }

    #cta img {
        width: 250px;
    }
}